<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paul.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/paprikalogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ZufallRezept"></activity>
        <activity android:name=".SucheRezept"></activity>
        <activity android:name=".SucheDurchLebensmittel"></activity>
        <activity android:name=".EinkaufszettelMenue"></activity>
        <activity android:name=".ErstelleRezept"></activity>
        <activity android:name=".Hilfe"></activity>
        <activity android:name=".ErstelleRezeptZutat"></activity>
        <activity android:name=".ErstelleEinkaufszettel"></activity>
        <activity android:name=".Einstellung"></activity>
		<activity android:name=".ErstelleRezeptAnweisung"></activity>


    </application>

</manifest>